<%= errors menu_item %>
<%= form_for [restaurant, menu_item] do |f| %>
  <%= f.fields_for :item, item do |i| %>
    <div class="form-group">
      <%= i.label :name %>
      <%= i.text_field :name, class: 'form-control' %>
    </div>

    <div class="row">
      <%= i.collection_radio_buttons :item_tag_ids, ItemTag.main, :id, :name do |b| %>
        <div class="col-auto">
          <%= b.label do %>
            <%= b.radio_button class: 'mr-2' %>
            <%= b.text %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :restaurant_description %>
    <%= f.text_field :restaurant_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price, class: 'form-control' %>
  </div>
  
  <%= f.hidden_field :restaurant_id %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
