<h1>
  <%= @user.name %>
</h1>
<br />
<% unless @user.reviews.empty? %>
  <h2>Recent Reviews</h2>
  <div class="row list-group mb-2">
    <div class="col-lg-6">
      <% @user.reviews.limit(5).each do |review| %>
        <%= link_to review.restaurant, class: 'list-group-item' do %>
          <div class="row">
            <div class="col-auto">
              <%= render_stars review.rating %>
            </div>
            <div class="col-auto">
              <%= review.restaurant.name %>
            </div>
            <small class="col-auto">
              <%= review.title %>
            </small>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to 'All Reviews', user_reviews_path(@user), class: 'btn btn-outline-primary' %>
<% end %>
