<div class="row align-items-center">
  <div class="col-auto">
    <h1>
      <%= @tag.name %>
    </h1>
  </div>
  <% if admin? %>
    <div class="col-auto">
      <h4>
        <%= link_to edit_item_tag_path(@tag) do %>
          <i class="fas fa-cog"></i>
        <% end %>
        <%= delete_link @tag %>
      </h4>
    </div>
  <% end %>
</div>
<h2>
  <%= @tag.description %>
</h2>
<br />
<div class="row">
  <% @tag.items.each do |item| %>
    <%= link_to item, class: 'col-3' do %>
      <h4>
        <%= item.name %>
      </h4>
    <% end %>
  <% end %>
</div>
