<h1>Set Prices for <%= @restaurant.name %>
</h1>

<%= errors @restaurant %>

<%= form_for @restaurant do |f| %>
  <h5>Entrees</h5>
  <%= f.fields_for :menu_items, @menu_items.entrees do |m| %>
    <%= render partial: 'menu_item_price', locals: { m: m } %>
  <% end %>

  <h5>Sides</h5>
  <%= f.fields_for :menu_items, @menu_items.sides do |m| %>
    <%= render partial: 'menu_item_price', locals: { m: m } %>
  <% end %>

  <h5>Drinks</h5>
  <%= f.fields_for :menu_items, @menu_items.drinks do |m| %>
    <%= render partial: 'menu_item_price', locals: { m: m } %>
  <% end %>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
