<%= errors item %>
<%= form_for item do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control', placeholder: 'Description' %>
  </div>
  <div class="row">
    <%= f.collection_check_boxes :item_tag_ids, ItemTag.main, :id, :name do |b| %>
      <div class="col-auto">
        <%= b.label do %>
          <%= b.check_box class: 'mr-2' %>
          <%= b.text %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= f.collection_check_boxes :item_tag_ids, ItemTag.other, :id, :name do |b| %>
      <div class="col-auto">
        <%= b.label do %>
          <%= b.check_box class: 'mr-2' %>
          <%= b.text %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
