<div class="row align-items-center">
  <div class="col-auto">
    <h1>
      <%= @item.name %>
    </h1>
  </div>
  <% if admin? %>
    <div class="col-auto">
      <div class="h4">
        <%= link_to edit_item_path(@item) do %>
          <i class="fas fa-cog"></i>
        <% end %>
        <%= delete_link @item %>
      </div>
    </div>
  <% end %>
</div>
<% if @item.description %>
  <h2>
    <%= @item.description %>
  </h2>
<% end %>
<div class="row">
  <% @item.item_tags.each do |it| %>
    <div class="col-auto">
      <strong>
        <%= link_to it.name, it %>
      </strong>
    </div>
  <% end %>
</div>
<br />
<h2>
  Restaurants with this item
</h2>
<div class="row">
  <%= render @restaurants %>
</div>
