<!DOCTYPE html>
<html>
  <head>
    <title>Food Frontier</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/hind.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/fontawesome-all.css">
  </head>

  <body>
    <div class='container'>
      <%= render partial: 'layouts/header' %>
      <%= yield %>
    </div>
  </body>
</html>
